/**
 * @name ClearVision ~ Genshin ~
 * @author ClearVision Team & Akazukin Team
 * @version 7.0.0 pre alpha
 * @description Highly customizable theme for VenCord and BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3 & De8T2NS74X
 */

/* IMPORT CSS */
@import url("https://raw.githubusercontent.com/ClearVision/ClearVision-v7/refs/heads/master/ClearVision-v7.theme.css");

/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Courgette:wght@100;300;400;500;700&display=swap');

:root {
    /* GENERAL */
    --main-font: Courgette, "gg sans", Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* APP BACKGROUND */
    --background-image: url('https://pbs.twimg.com/media/GMADrMabMAAJ476.jpg:orig');
    
    /* OTHER */
    --custom-channel-textarea-text-area-height: calc((44px / 1.25) + (var(--space-xs)));
}

/* Nitro seller */
.upsellContent__5997d {
    background-color: transparent;
}

/* Current user profile */
:is(.visual-refresh) .panels_c48ade {
    background: rgba(0, 0, 0, 0.5);
}

/* Voice info compo */
.visual-refresh .panels_c48ade {
    padding: 2px;
    padding-left: 8px;
}


/* Text Input area */
.visual-refresh .attachButton__0923f {
    padding: var(--space-8) var(--space-md);
}
.visual-refresh .slateTextArea_ec4baf {
    margin-left: 5px;
}

/* Members list */
.visual-refresh .memberInner__5d473 {
    padding-right: var(--space-4);
    padding-left: var(--space-4);
}
.childContainer__91a9d {
    padding-right: 0px;
}
.visual-refresh .membersGroup_c8ffbb {
    height: auto;
    padding-top: var(--space-12);
    padding-bottom: 0;
}
.member__5d473 {
    margin-left: 4px;
}

/* Guilds list */
.scroller_ef3116 > div:nth-child(2) {
    margin-bottom: 0px;
}

/* Screen Share */
.visual-refresh .segmentControlOption_a2de16 {
    padding-bottom: 0px;
}
.visual-refresh .tile_a2de16 {
    padding: 0;
    margin-top: var(--space-12);
}
.visual-refresh .modalFooter_a55fdc {
    padding: var(--space-12);
}
.flex__7c0ba.vertical_abf706.justifyStart_abf706.alignCenter_abf706.noWrap_abf706.header_a55fdc {
    margin-bottom: 6px;
}
.visual-refresh .artContainer_a55fdc {
    display: none;
}
.visual-refresh .segmentContainer_a2de16 {
    padding-top: var(--space-12);
    margin: 0 var(--space-6);
}
.visual-refresh .layer_bc663c {
    padding-top: var(--space-12);
    padding-bottom: var(--space-12);
}
.footer__49fc1, .header__49fc1 {
    padding: calc(var(--modal-vertical-padding) / 2) calc(var(--modal-horizontal-padding) / 2);
}
